/node_modules
/vendor
.env
/nbproject
/old
/public/uploads
/public/plugins/ckeditor5
*.zip
.user.ini
error_log
index.html
php.ini
.ftpquota
testing
testing.*
.htaccess
public/sitemap.xml
robots.txt
.well-known/
kundli/
astrology/